<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proteinbar">
    
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_meat"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BasketEditInformationActivity"
            android:label="ویرایش اطلاعات"></activity>
        <activity
            android:name=".BasketInformationActivity"
            android:exported="true"
            android:label="فرآیند خرید" />
        <activity
            android:name=".SignUpActivity"
            android:label="ثبت نام"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".SignInActivity"
            android:label="ورود به حساب کاربری"
            android:exported="true"/>
        <activity android:name=".MoreListActivity"
            android:exported="true"/>
        <activity
            android:name=".ListProductActivity"
            android:label="لیست کامل دسته بندی ها" />
        <activity
            android:name=".BasketActivity"
            android:label="سبد خرید" />
        <activity android:name=".CustomSingleListActivity"
            android:exported="true"/>
        <activity
            android:name=".OriginalPageActivity"
            android:label="پروتئین بار" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>